.container{
  height: auto;
}

.contenedor-pagina-noticias-individuales{
    background: rgba(0, 0, 0, 7);
    width: 100%;
    height: auto;
    padding: 10px;
    
  }
  
   /* Media query para tablet */
  @media (max-width: 900px){
       .contenedor-pagina-noticias-individuales{
          flex-wrap: wrap;
       }
       .contenedor-imagen-posts{
        flex-wrap: wrap;
      }
      }
 
  /* Media query para celular */
  @media (max-width: 375px){
    .contenedor-pagina-noticias-individuales{
       flex-wrap: wrap;
    }
    .contenedor-imagen-posts{
      flex-wrap: wrap;
    }
 }
 
  .contenedor-titulo-pagina{
    background-color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: auto;
    text-transform:uppercase;
  }
 
  .contenedor-imagen-posts{
    display: flex;
    gap: 15px;
    height: auto; 
  }
 
  .contenedores-izquierda{
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
  }

  .imagen-noticia-grande{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
 
  .contenedores-derecha{
    display: grid;
    gap: 15px;
    width: 100%;
    height: auto;
    border-radius: 8px;
 }
 
  .contenedor-posts-noticia-secundario{
    background-color: white;
    text-align: left;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 8px;
  }
 
  .contenedor-posts-leyenda{
    background-color: white;
    text-align: right;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
 
  .contenedor-imagenes-medianas{
    display: flex;
    height: auto;
    justify-content:flex-start;
    background-color: white;
    padding: 15px;
    gap: 50px;
    margin-top: 15px;
    border-radius: 8px;
  }

  .contenedor-imagenes{
    width: 40%;
  }
 
  .imagen-mediana-noticias{
    display: flex;
    justify-content: center;
    width: 100%;
    height:100%;
    border-radius: 8px;
  }

  @media (max-width: 600px){
    .contenedor-imagenes-medianas{
       flex-wrap: wrap;
       gap: 50px;
       justify-content: center;
    } 
  }

  @media (max-width: 900px){
    .contenedor-imagenes-medianas{
       flex-wrap: wrap;
       gap: 50px;
       justify-content: center;
    } 
  }