.contenedor-secundario-noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 44px;
    padding: 12px;
    background: rgba(0, 0, 0, 7);
  }
  
  /*Media query para cambiar el diseño en pantallas más pequeñas*/
  
  .contenedor-noticias {
    width: 100%;
    justify-content: center;
    background-color: #ffffff;
    border: black 1px solid;
    padding: 8px;
    border-radius: 8px;
  }
  
  .content-img-noticias {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .imagen-noticia {
    width: 50%;
    height: 150px;
  }

  .texto-noticia{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 300px;
    text-align:left;
    margin-left: 5px;
}