* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: aqua;
}

h1 {
  max-width: 940px;
  font-size: 2.5rem;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* main {
  padding: 20px;
  float: left;
  box-sizing: border-box;

  column-count: 3;
  column-gap: 3em;
} */

/*AREA DE NAVBAR*/
/* .contenedor-principal-navega {
  align-items: center;
  width: 50%;
  z-index: 100;
  top: 1%;
  width: 1440px;
  height: 80px;
  z-index: 2;
} */

/*AREA DEL POSTS*/
/* .contenedor-principal-posts {
  width: 50%;
  z-index: 100;
  top: 9%;
} */

/*AREA DE CONTENIDO*/
/* .contenedor-principal-noticias {
  width: 1440px;
  height: 700px;
} */

/* .contenedor-informacion-noticia {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 30px;
  height: 100%;
} */

/*AREA DE FOOTER*/
/* .contenedor-principal-piepagina {
  z-index: 100;
  width: 1440px;
  top: 90%;
  left: 25%;
} */
